@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bine ai venit!</h1>
    <p><b>Nu ai idei?</b> <a href="https://www.harpersbazaar.com/culture/travel-dining/g7171/most-beautiful-places-in-the-world/">Click aici pentru a te inspria</a>.</p>
    <p>
        <font size="6" color="darkblue">Nu mai sta pe gânduri! Acum e momentul să călătorești!</font> 
    </p>
    <p>
        <font size="8" color="darkblue">Planifică-ți vacanța!</font>
    </p>
    
    <img src="https://guides-info.org/wp-content/uploads/2019/06/ce-travel.jpg" width="600" height="400" >
</div>
